<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luokuiai.flovira.orm.mapper.FlowInstanceMapper">

    <resultMap type="com.luokuiai.flovira.orm.entity.FlowInstance" id="FlowInstanceResult">
        <result property="id" column="id"/>
        <result property="businessId" column="business_id"/>
        <result property="businessType" column="business_type"/>
        <result property="definitionId" column="definition_id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="flowName" column="flow_name"/>
        <result property="nodeType" column="node_type"/>
        <result property="nodeCode" column="node_code"/>
        <result property="nodeName" column="node_name"/>
        <result property="variables" column="variables"/>
        <result property="flowStatus" column="flow_status"/>
        <result property="activityStatus" column="activity_status"/>
        <result property="defJson" column="def_json"/>
        <result property="createdBy" column="created_by"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="deleted" column="deleted"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="ext" column="ext"/>
        <result property="updatedBy" column="updated_by"/>
    </resultMap>

    <sql id="selectVo">
        select t.id,
               t.business_id,
               t.business_type,
               t.definition_id,
               t.tenant_id,
               t.node_type,
               t.node_code,
               t.node_name,
               t.variables,
               t.flow_status,
               t.activity_status,
               t.def_json,
               t.created_by,
               t.created_at,
               t.updated_at,
               t.deleted,
               t.tenant_id,
               t.ext,
               t.updated_by
        from flow_instance t
    </sql>

    <sql id="paging_end">
        <if test="page !=null and page.pageNum != null and page.pageSize != null">
            LIMIT #{page.pageSize} offset #{page.pageNum}
        </if>
    </sql>

    <sql id="order_by">
        <if test="order != null and order != ''">order by ${order}</if>
    </sql>

    <sql id="select_parameter">
        <where>
            <if test="entity.id != null ">and t.id = #{entity.id}</if>
            <if test="entity.businessId != null  and entity.businessId != ''">and t.business_id = #{entity.businessId}
            </if>
            <if test="entity.businessType != null and entity.businessType != ''">and t.business_type = #{entity.businessType}</if>
            <if test="entity.definitionId != null ">and t.definition_id = #{entity.definitionId}</if>
            <if test="entity.nodeCode != null and entity.nodeCode != ''">and t.node_code = #{entity.nodeCode}</if>
            <if test="entity.nodeName != null and entity.nodeName != ''">and t.node_name = #{entity.nodeName}</if>
            <if test="entity.variables != null">and t.variables = #{entity.variables}</if>
            <if test="entity.flowStatus != null and entity.flowStatus != ''">and t.flow_status = #{entity.flowStatus}</if>
            <if test="entity.activityStatus != null">and t.activity_status = #{entity.activityStatus}</if>
            <if test="entity.defJson != null  and entity.defJson != ''">and t.def_json = #{entity.defJson}</if>
            <if test="entity.createdBy != null  and entity.createdBy != ''">and t.created_by = #{entity.createdBy}</if>
            <if test="entity.createdAt != null">and t.created_at = #{entity.createdAt}</if>
            <if test="entity.updatedAt != null">and t.updated_at = #{entity.updatedAt}</if>
            <if test="entity.deleted != null  and entity.deleted != ''">and t.deleted = #{entity.deleted}</if>
            <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
            <if test="entity.ext != null">and t.ext = #{entity.ext}</if>
            <if test="entity.updatedBy != null and entity.updatedBy != ''">and t.updated_by = #{entity.updatedBy}</if>
        </where>
    </sql>

    <select id="selectCount" parameterType="com.luokuiai.flovira.orm.entity.FlowInstance" resultType="java.lang.Long">
        select count(*) from flow_instance t
        <include refid="select_parameter"/>
    </select>

    <select id="selectList" parameterType="com.luokuiai.flovira.orm.entity.FlowInstance"
            resultMap="FlowInstanceResult">
        <choose>
            <when test="dataSourceType == 'oracle'.toString()">
                <if test="page !=null and page.pageNum != null and page.pageSize != null">
                    SELECT * FROM ( SELECT TMP.*, ROWNUM ROW_ID FROM (
                </if>
                <include refid="includeAll"/>
                <if test="page !=null and page.pageNum != null and page.pageSize != null">
                    ) TMP WHERE ROWNUM &lt;= #{page.pageSize}) WHERE ROW_ID &gt; #{page.pageNum}
                </if>
            </when>
            <otherwise>
                <include refid="includeAll"/>
                <include refid="paging_end"/>
            </otherwise>
        </choose>
    </select>

    <sql id="includeAll">
        <include refid="selectVo"/>
        <include refid="select_parameter"/>
        <include refid="order_by"/>
    </sql>

    <sql id="mysql_insert_batch">
        insert into flow_instance(
        id,
        business_id,
        business_type,
        definition_id,
        node_code,
        node_name,
        node_type,
        variables,
        flow_status,
        activity_status,
        def_json,
        created_by,
        created_at,
        updated_at,
        deleted,
        tenant_id,
        ext,
        updated_by
        )
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.businessId},
            #{item.businessType},
            #{item.definitionId},
            #{item.nodeCode},
            #{item.nodeName},
            #{item.nodeType},
            #{item.variables},
            #{item.flowStatus},
            #{item.activityStatus},
            #{item.defJson},
            #{item.createdBy},
            #{item.createdAt},
            #{item.updatedAt},
            #{item.deleted},
            #{item.tenantId},
            #{item.ext},
            #{item.updatedBy}
            )
        </foreach>
    </sql>

    <sql id="oracle_insert_batch">
        insert into flow_instance(
        id,
        business_id,
        business_type,
        definition_id,
        node_code,
        node_name,
        node_type,
        variables,
        flow_status,
        activity_status,
        def_json,
        created_by,
        created_at,
        updated_at,
        deleted,
        tenant_id,
        ext,
        updated_by
        )
        <foreach collection="list" item="item" separator=" union all">
            (
            #{item.id},
            #{item.businessId},
            #{item.businessType},
            #{item.definitionId},
            #{item.nodeCode},
            #{item.nodeName},
            #{item.nodeType},
            #{item.variables},
            #{item.flowStatus},
            #{item.activityStatus},
            #{item.defJson},
            #{item.createdBy},
            #{item.createdAt},
            #{item.updatedAt},
            #{item.deleted},
            #{item.tenantId},
            #{item.ext},
            #{item.updatedBy}
            )
        </foreach>
    </sql>

    <select id="selectByIds" resultMap="FlowInstanceResult">
        <include refid="selectVo"/>
        where t.id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="entity.deleted != null  and entity.deleted != ''">and t.deleted = #{entity.deleted}</if>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
    </select>

    <select id="selectById" resultMap="FlowInstanceResult">
        <include refid="selectVo"/>
        where t.id = #{id}
        <if test="entity.deleted != null  and entity.deleted != ''">and t.deleted = #{entity.deleted}</if>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
    </select>

    <select id="getByDefIds" resultMap="FlowInstanceResult">
        <include refid="selectVo"/>
        where t.definition_id in
        <foreach item="defId" collection="defIds" open="(" separator="," close=")">
            #{defId}
        </foreach>
        <if test="entity.deleted != null  and entity.deleted != ''">and t.deleted = #{entity.deleted}</if>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
    </select>

    <insert id="insert" parameterType="com.luokuiai.flovira.orm.entity.FlowInstance">
        insert into flow_instance
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="businessId != null and businessId != ''">business_id,</if>
            <if test="businessType != null and businessType != ''">business_type,</if>
            <if test="definitionId != null">definition_id,</if>
            <if test="nodeCode != null and nodeCode != ''">node_code,</if>
            <if test="nodeName != null and nodeName != ''">node_name,</if>
            <if test="nodeType != null">node_type,</if>
            <if test="variables != null">variables,</if>
            <if test="flowStatus != null and flowStatus != ''">flow_status,</if>
            <if test="activityStatus != null">activity_status,</if>
            <if test="defJson != null and defJson != ''">def_json,</if>
            <if test="createdBy != null and createdBy != ''">created_by,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
            <if test="deleted != null and deleted != ''">deleted,</if>
            <if test="tenantId != null and tenantId != ''">tenant_id,</if>
            <if test="ext != null">ext,</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="businessId != null and businessId != ''">#{businessId},</if>
            <if test="businessType != null and businessType != ''">#{businessType},</if>
            <if test="definitionId != null">#{definitionId},</if>
            <if test="nodeCode != null and nodeCode != ''">#{nodeCode},</if>
            <if test="nodeName != null and nodeName != ''">#{nodeName},</if>
            <if test="nodeType != null">#{nodeType},</if>
            <if test="variables != null">#{variables},</if>
            <if test="flowStatus != null and flowStatus != ''">#{flowStatus},</if>
            <if test="activityStatus != null">#{activityStatus},</if>
            <if test="defJson != null and defJson != ''">#{defJson},</if>
            <if test="createdBy != null and createdBy != ''">#{createdBy},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
            <if test="deleted != null and deleted != ''">#{deleted},</if>
            <if test="tenantId != null and tenantId != ''">#{tenantId},</if>
            <if test="ext != null">#{ext},</if>
            <if test="updatedBy != null and updatedBy != ''">#{updatedBy},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.luokuiai.flovira.orm.entity.FlowInstance">
        update flow_instance
        <trim prefix="SET" suffixOverrides=",">
            <if test="businessId != null and businessId != ''">business_id = #{businessId},</if>
            <if test="businessType != null and businessType != ''">business_type = #{businessType},</if>
            <if test="definitionId != null">definition_id = #{definitionId},</if>
            <if test="nodeType != null">node_type = #{nodeType},</if>
            <if test="nodeCode != null and nodeCode != ''">node_code = #{nodeCode},</if>
            <if test="nodeName != null and nodeName != ''">node_name = #{nodeName},</if>
            <if test="variables != null">variables = #{variables},</if>
            <if test="flowStatus != null and flowStatus != ''">flow_status = #{flowStatus},</if>
            <if test="activityStatus != null">activity_status = #{activityStatus},</if>
            <if test="defJson != null and defJson != ''">def_json = #{defJson},</if>
            <if test="createdBy != null and createdBy != ''">created_by = #{createdBy},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
            <if test="ext != null">ext = #{ext},</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by = #{updatedBy},</if>
        </trim>
        where id = #{id}
        <if test="deleted != null  and deleted != ''">and deleted = #{deleted}</if>
        <if test="tenantId != null  and tenantId != ''">and tenant_id = #{tenantId}</if>
    </update>

    <delete id="deleteById">
        delete
        from flow_instance
        where id = #{id}
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
    </delete>

    <update id="updateByIdLogic">
        update flow_instance
        set deleted = #{logicDeleteValue}
        where id = #{id}
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
        <if test="logicNotDeleteValue != null and logicNotDeleteValue != ''">and deleted = #{logicNotDeleteValue}
        </if>
    </update>

    <delete id="deleteByIds">
        delete from flow_instance where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
    </delete>

    <update id="updateByIdsLogic">
        update flow_instance
        set deleted = #{logicDeleteValue}
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
        <if test="logicNotDeleteValue != null and logicNotDeleteValue != ''">and deleted = #{logicNotDeleteValue}
        </if>
    </update>

    <delete id="delete" parameterType="com.luokuiai.flovira.orm.entity.FlowInstance">
        delete from flow_instance
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="businessId != null and businessId != ''">and business_id = #{businessId}</if>
            <if test="businessType != null and businessType != ''">and business_type = #{businessType}</if>
            <if test="definitionId != null">and definition_id = #{definitionId}</if>
            <if test="nodeCode != null and nodeCode != ''">and node_code = #{nodeCode}</if>
            <if test="nodeName != null and nodeName != ''">and node_name = #{nodeName}</if>
            <if test="nodeType != null">and node_type = #{nodeType}</if>
            <if test="flowStatus != null and flowStatus != ''">and flow_status = #{flowStatus}</if>
            <if test="variables != null">and flow_status = #{variables}</if>
            <if test="activityStatus != null">and activity_status = #{activityStatus}</if>
            <if test="defJson != null and defJson != ''">and def_json = #{defJson}</if>
            <if test="createdBy != null and createdBy != ''">and created_by = #{createdBy}</if>
            <if test="createdAt != null">and created_at = #{createdAt}</if>
            <if test="updatedAt != null">and updated_at = #{updatedAt}</if>
            <if test="tenantId != null and tenantId != ''">and tenant_id = #{tenantId}</if>
            <if test="ext != null">and ext = #{ext}</if>
        </where>
    </delete>

    <update id="updateLogic">
        update flow_instance
        set deleted = #{logicDeleteValue}
        <where>
            <if test="entity.id != null">and id = #{entity.id}</if>
            <if test="entity.businessId != null and entity.businessId != ''">and business_id = #{entity.businessId}
            </if>
            <if test="entity.businessType != null and entity.businessType != ''">and business_type = #{entity.businessType}</if>
            <if test="entity.definitionId != null">and definition_id = #{entity.definitionId}</if>
            <if test="entity.nodeCode != null and entity.nodeCode != ''">and node_code = #{entity.nodeCode}</if>
            <if test="entity.nodeName != null and entity.nodeName != ''">and node_name = #{entity.nodeName}</if>
            <if test="entity.nodeType != null">and node_type = #{entity.nodeType}</if>
            <if test="entity.flowStatus != null and entity.flowStatus != ''">and flow_status = #{entity.flowStatus}</if>
            <if test="entity.variables != null">and flow_status = #{entity.variables}</if>
            <if test="entity.activityStatus != null">and activity_status = #{entity.activityStatus}</if>
            <if test="entity.defJson != null and entity.defJson != ''">and def_json = #{entity.defJson}</if>
            <if test="entity.createdBy != null and entity.createdBy != ''">and created_by = #{entity.createdBy}</if>
            <if test="entity.createdAt != null">and created_at = #{entity.createdAt}</if>
            <if test="entity.updatedAt != null">and updated_at = #{entity.updatedAt}</if>
            <if test="entity.tenantId != null and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
            <if test="entity.ext != null">and ext = #{entity.ext}</if>
            <if test="logicNotDeleteValue != null and logicNotDeleteValue != ''">and deleted =
                #{logicNotDeleteValue}
            </if>
        </where>
    </update>

    <insert id="saveBatch" parameterType="com.luokuiai.flovira.orm.entity.FlowInstance">
        <choose>
            <when test="dataSourceType == 'oracle'.toString()">
                <include refid="oracle_insert_batch"/>
            </when>
            <otherwise>
                <include refid="mysql_insert_batch"/>
            </otherwise>
        </choose>
    </insert>
</mapper>
