<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luokuiai.flovira.orm.mapper.FlowSkipMapper">

    <resultMap type="com.luokuiai.flovira.orm.entity.FlowSkip" id="FlowSkipResult">
        <result property="id" column="id"/>
        <result property="definitionId" column="definition_id"/>
        <result property="sourceNodeCode" column="source_node_code"/>
        <result property="sourceNodeType" column="source_node_type"/>
        <result property="targetNodeCode" column="target_node_code"/>
        <result property="targetNodeType" column="target_node_type"/>
        <result property="skipName" column="skip_name"/>
        <result property="skipType" column="skip_type"/>
        <result property="skipCondition" column="skip_condition"/>
        <result property="coordinate" column="coordinate"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="deleted" column="deleted"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="createdBy" column="created_by"/>
        <result property="updatedBy" column="updated_by"/>
    </resultMap>

    <sql id="selectVo">
        select t.id,
               t.definition_id,
               t.source_node_code,
               t.source_node_type,
               t.target_node_code,
               t.target_node_type,
               t.skip_name,
               t.skip_type,
               t.skip_condition,
               t.coordinate,
               t.created_at,
               t.updated_at,
               t.deleted,
               t.tenant_id,
               t.created_by,
               t.updated_by
        from flow_skip t
    </sql>

    <sql id="paging_end">
        <if test="page !=null and page.pageNum != null and page.pageSize != null">
            LIMIT #{page.pageSize} offset #{page.pageNum}
        </if>
    </sql>

    <sql id="order_by">
        <if test="order != null and order != ''">order by ${order}</if>
    </sql>

    <sql id="select_parameter">
        <where>
            <if test="entity.id != null">and t.id = #{entity.id}</if>
            <if test="entity.definitionId != null">and t.definition_id = #{entity.definitionId}</if>
            <if test="entity.sourceNodeCode != null">and t.source_node_code = #{entity.sourceNodeCode}</if>
            <if test="entity.sourceNodeType != null">and t.source_node_type = #{entity.sourceNodeType}</if>
            <if test="entity.targetNodeCode != null and entity.targetNodeCode != ''">and t.target_node_code =
                #{entity.targetNodeCode}
            </if>
            <if test="entity.targetNodeType != null">and t.target_node_type = #{entity.targetNodeType}</if>
            <if test="entity.skipName != null and entity.skipName != ''">and t.skip_name = #{entity.skip}</if>
            <if test="entity.skipType != null and entity.skipType != ''">and t.skip_type =
                #{entity.skipType}
            </if>
            <if test="entity.skipCondition != null and entity.skipCondition != ''">and t.skip_condition
                =#{skipCondition}
            </if>
            <if test="entity.createdAt != null">and t.created_at = #{entity.createdAt}</if>
            <if test="entity.updatedAt != null">and t.updated_at = #{entity.updatedAt}</if>
            <if test="entity.deleted != null  and entity.deleted != ''">and t.deleted = #{entity.deleted}</if>
            <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
            <if test="entity.updatedBy != null and entity.updatedBy != ''">and t.updated_by = #{entity.updatedBy}</if>
            <if test="entity.createdBy != null and entity.createdBy != ''">and t.created_by = #{entity.createdBy}</if>
        </where>
    </sql>

    <select id="selectCount" parameterType="com.luokuiai.flovira.orm.entity.FlowSkip" resultType="java.lang.Long">
        select count(*) from flow_skip t
        <include refid="select_parameter"/>
    </select>

    <select id="selectList" parameterType="com.luokuiai.flovira.orm.entity.FlowSkip" resultMap="FlowSkipResult">
        <choose>
            <when test="dataSourceType == 'oracle'.toString()">
                <if test="page !=null and page.pageNum != null and page.pageSize != null">
                    SELECT * FROM ( SELECT TMP.*, ROWNUM ROW_ID FROM (
                </if>
                <include refid="includeAll"/>
                <if test="page !=null and page.pageNum != null and page.pageSize != null">
                    ) TMP WHERE ROWNUM &lt;= #{page.pageSize}) WHERE ROW_ID &gt; #{page.pageNum}
                </if>
            </when>
            <otherwise>
                <include refid="includeAll"/>
                <include refid="paging_end"/>
            </otherwise>
        </choose>
    </select>

    <sql id="includeAll">
        <include refid="selectVo"/>
        <include refid="select_parameter"/>
        <include refid="order_by"/>
    </sql>

    <sql id="mysql_insert_batch">
        insert into flow_skip(
        id,
        definition_id,
        source_node_code,
        source_node_type,
        target_node_code,
        target_node_type,
        skip_name,
        skip_type,
        skip_condition,
        coordinate,
        created_at,
        updated_at,
        deleted,
        tenant_id,
        created_by,
        updated_by
        )
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.definitionId},
            #{item.sourceNodeCode},
            #{item.sourceNodeType},
            #{item.targetNodeCode},
            #{item.targetNodeType},
            #{item.skipName},
            #{item.skipType},
            #{item.skipCondition},
            #{item.coordinate},
            #{item.createdAt},
            #{item.updatedAt},
            #{item.deleted},
            #{item.tenantId},
            #{item.createdBy},
            #{item.updatedBy}
            )
        </foreach>
    </sql>

    <sql id="oracle_insert_batch">
        insert into flow_skip(
        id,
        definition_id,
        source_node_code,
        source_node_type,
        target_node_code,
        target_node_type,
        skip_name,
        skip_type,
        skip_condition,
        coordinate,
        created_at,
        updated_at,
        deleted,
        tenant_id,
        created_by,
        updated_by
        )
        <foreach collection="list" item="item" separator=" union all ">
            select
            #{item.id},
            #{item.definitionId},
            #{item.sourceNodeCode},
            #{item.sourceNodeType},
            #{item.targetNodeCode},
            #{item.targetNodeType},
            #{item.skipName},
            #{item.skipType},
            #{item.skipCondition},
            #{item.coordinate},
            #{item.createdAt},
            #{item.updatedAt},
            #{item.deleted},
            #{item.tenantId},
            #{item.createdBy},
            #{item.updatedBy}
            from dual
        </foreach>
    </sql>

    <select id="selectByIds" resultMap="FlowSkipResult">
        <include refid="selectVo"/>
        where t.id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="entity.deleted != null  and entity.deleted != ''">and t.deleted = #{entity.deleted}</if>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
    </select>

    <select id="selectById" resultMap="FlowSkipResult">
        <include refid="selectVo"/>
        where t.id = #{id}
        <if test="entity.deleted != null  and entity.deleted != ''">and t.deleted = #{entity.deleted}</if>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
    </select>

    <insert id="insert" parameterType="com.luokuiai.flovira.orm.entity.FlowSkip">
        insert into flow_skip
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="definitionId != null">definition_id,</if>
            <if test="sourceNodeCode != null and sourceNodeCode != ''">source_node_code,</if>
            <if test="sourceNodeType != null">source_node_type,</if>
            <if test="targetNodeCode != null and targetNodeCode != ''">target_node_code,</if>
            <if test="targetNodeType != null">target_node_type,</if>
            <if test="skipName != null and skipName != ''">skip_name,</if>
            <if test="skipType != null">skip_type,</if>
            <if test="skipCondition != null and skipCondition != ''">skip_condition,</if>
            <if test="coordinate != null and coordinate != ''">coordinate,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
            <if test="deleted != null and deleted != ''">deleted,</if>
            <if test="tenantId != null and tenantId != ''">tenant_id,</if>
            <if test="createdBy != null and createdBy != ''">created_by,</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="definitionId != null">#{definitionId},</if>
            <if test="sourceNodeCode != null and sourceNodeCode != ''">#{sourceNodeCode},</if>
            <if test="sourceNodeType != null">#{sourceNodeType},</if>
            <if test="targetNodeCode != null and targetNodeCode != ''">#{targetNodeCode},</if>
            <if test="targetNodeType != null">#{targetNodeType},</if>
            <if test="skipName != null and skipName != ''">#{skipName},</if>
            <if test="skipType != null">#{skipType},</if>
            <if test="skipCondition != null and skipCondition != ''">#{skipCondition},</if>
            <if test="coordinate != null and coordinate != ''">#{coordinate},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
            <if test="deleted != null and deleted != ''">#{deleted},</if>
            <if test="tenantId != null and tenantId != ''">#{tenantId},</if>
            <if test="createdBy != null and createdBy != ''">#{createdBy},</if>
            <if test="updatedBy != null and updatedBy != ''">#{updatedBy}</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.luokuiai.flovira.orm.entity.FlowSkip">
        update flow_skip
        <trim prefix="SET" suffixOverrides=",">
            <if test="definitionId != null">definition_id = #{definitionId},</if>
            <if test="sourceNodeCode != null and sourceNodeCode != ''">source_node_code = #{sourceNodeCode},</if>
            <if test="sourceNodeType != null">source_node_type = #{sourceNodeType},</if>
            <if test="targetNodeCode != null and targetNodeCode != ''">target_node_code = #{targetNodeCode},</if>
            <if test="targetNodeType != null">target_node_type = #{targetNodeType},</if>
            <if test="skipName != null and skipName != ''">skip_name = #{skipName},</if>
            <if test="skipType != null">skip_type = #{skipType},</if>
            <if test="skipCondition != null and skipCondition != ''">skip_condition = #{skipCondition},</if>
            <if test="coordinate != null and coordinate != ''">coordinate = #{coordinate},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
            <if test="createdBy != null and createdBy != ''">created_by = #{createdBy},</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by = #{updatedBy},</if>
        </trim>
        where id = #{id}
        <if test="deleted != null  and deleted != ''">and deleted = #{deleted}</if>
        <if test="tenantId != null  and tenantId != ''">and tenant_id = #{tenantId}</if>
    </update>

    <delete id="deleteById">
        delete
        from flow_skip
        where id = #{id}
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
    </delete>

    <update id="updateByIdLogic">
        update flow_skip
        set deleted = #{logicDeleteValue}
        where id = #{id}
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
        <if test="logicNotDeleteValue != null and logicNotDeleteValue != ''">and deleted = #{logicNotDeleteValue}
        </if>
    </update>

    <delete id="deleteByIds">
        delete from flow_skip where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
    </delete>

    <update id="updateByIdsLogic">
        update flow_skip
        set deleted = #{logicDeleteValue}
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
        <if test="logicNotDeleteValue != null and logicNotDeleteValue != ''">and deleted = #{logicNotDeleteValue}
        </if>
    </update>


    <delete id="delete" parameterType="com.luokuiai.flovira.orm.entity.FlowSkip">
        delete from flow_skip
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="definitionId != null">and definition_id = #{definitionId}</if>
            <if test="sourceNodeCode != null and sourceNodeCode != ''">and source_node_code = #{sourceNodeCode}</if>
            <if test="sourceNodeType != null">and source_node_type = #{sourceNodeType}</if>
            <if test="targetNodeCode != null and targetNodeCode != ''">and target_node_code = #{targetNodeCode}</if>
            <if test="targetNodeType != null">and target_node_type = #{targetNodeType}</if>
            <if test="skipName != null and skipName != ''">and skip_name = #{skipName}</if>
            <if test="skipType != null">and skip_type = #{skipType}</if>
            <if test="coordinate != null and coordinate != ''">and coordinate = #{coordinate}</if>
            <if test="skipCondition != null and skipCondition != ''">and skip_condition = #{skipCondition}</if>
            <if test="createdAt != null">and created_at = #{createdAt}</if>
            <if test="updatedAt != null">and updated_at = #{updatedAt}</if>
            <if test="tenantId != null and tenantId != ''">and tenant_id = #{tenantId}</if>
        </where>
    </delete>

    <update id="updateLogic">
        update flow_skip
        set deleted = #{logicDeleteValue}
        <where>
            <if test="entity.id != null">and id = #{entity.id}</if>
            <if test="entity.definitionId != null">and definition_id = #{entity.definitionId}</if>
            <if test="entity.sourceNodeCode != null and entity.sourceNodeCode != ''">and source_node_code =
                #{entity.sourceNodeCode}
            </if>
            <if test="entity.sourceNodeType != null">and source_node_type = #{entity.sourceNodeType}</if>
            <if test="entity.targetNodeCode != null and targetNodeCode != ''">and target_node_code =
                #{entity.targetNodeCode}
            </if>
            <if test="entity.targetNodeType != null">and target_node_type = #{entity.targetNodeType}</if>
            <if test="entity.skipName != null and entity.skipName != ''">and skip_name = #{entity.skipName}</if>
            <if test="entity.skipType != null">and skip_type = #{entity.skipType}</if>
            <if test="entity.coordinate != null and entity.coordinate != ''">and coordinate = #{entity.coordinate}
            </if>
            <if test="entity.skipCondition != null and entity.skipCondition != ''">and skip_condition =
                #{entity.skipCondition}
            </if>
            <if test="entity.createdAt != null">and created_at = #{entity.createdAt}</if>
            <if test="entity.updatedAt != null">and updated_at = #{entity.updatedAt}</if>
            <if test="entity.tenantId != null and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
            <if test="logicNotDeleteValue != null and logicNotDeleteValue != ''">and deleted =
                #{logicNotDeleteValue}
            </if>
        </where>
    </update>

    <delete id="deleteSkipByDefIds">
        delete from flow_skip where definition_id in
        <foreach item="definitionId" collection="defIds" open="(" separator="," close=")">
            #{definitionId}
        </foreach>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
    </delete>

    <update id="updateSkipByDefIdsLogic">
        update flow_skip
        set deleted = #{logicDeleteValue}
        where definition_id in
        <foreach item="definitionId" collection="defIds" open="(" separator="," close=")">
            #{definitionId}
        </foreach>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
        <if test="logicNotDeleteValue != null and logicNotDeleteValue != ''">and deleted = #{logicNotDeleteValue}
        </if>
    </update>

    <insert id="saveBatch" parameterType="com.luokuiai.flovira.orm.entity.FlowSkip">
        <choose>
            <when test="dataSourceType == 'oracle'.toString()">
                <include refid="oracle_insert_batch"/>
            </when>
            <otherwise>
                <include refid="mysql_insert_batch"/>
            </otherwise>
        </choose>
    </insert>
</mapper>
