<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luokuiai.flovira.orm.mapper.FlowNodeMapper">

    <resultMap type="com.luokuiai.flovira.orm.entity.FlowNode" id="FlowNodeResult">
        <result property="id" column="id"/>
        <result property="nodeType" column="node_type"/>
        <result property="definitionId" column="definition_id"/>
        <result property="nodeCode" column="node_code"/>
        <result property="nodeName" column="node_name"/>
        <result property="permissionFlag" column="permission_flag"/>
        <result property="nodeRatio" column="node_ratio"/>
        <result property="coordinate" column="coordinate"/>
        <result property="anyNodeSkip" column="any_node_skip"/>
        <result property="listenerType" column="listener_type"/>
        <result property="listenerPath" column="listener_path"/>
        <result property="formId" column="form_id"/>
        <result property="version" column="version"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="ext" column="ext"/>
        <result property="deleted" column="deleted"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="createdBy" column="created_by"/>
    </resultMap>

    <sql id="selectVo">
        select t.id,
               t.node_type,
               t.definition_id,
               t.node_code,
               t.node_name,
               t.permission_flag,
               t.node_ratio,
               t.coordinate,
               t.any_node_skip,
               t.listener_type,
               t.listener_path,
               t.form_id,
               t.version,
               t.created_at,
               t.updated_at,
               t.ext,
               t.deleted,
               t.tenant_id,
               t.created_by,
               t.updated_by
        from flow_node t
    </sql>

    <sql id="paging_end">
        <if test="page !=null and page.pageNum != null and page.pageSize != null">
            LIMIT #{page.pageSize} offset #{page.pageNum}
        </if>
    </sql>

    <sql id="order_by">
        <if test="order != null and order != ''">order by ${order}</if>
    </sql>

    <sql id="select_parameter">
        <where>
            <if test="entity.id != null">and t.id = #{entity.id}</if>
            <if test="entity.nodeType != null">and t.node_type = #{entity.nodeType}</if>
            <if test="entity.definitionId != null">and t.definition_id = #{entity.definitionId}</if>
            <if test="entity.nodeCode != null and entity.nodeCode != ''">and t.node_code = #{entity.nodeCode}</if>
            <if test="entity.nodeName != null and entity.nodeName != ''">and t.node_name = #{entity.nodeName}</if>
            <if test="entity.permissionFlag != null and entity.permissionFlag != ''">and t.permission_flag =
                #{entity.permissionFlag}
            </if>
            <if test="entity.nodeRatio != null">and t.node_ratio = #{entity.nodeRatio}</if>
            <if test="entity.coordinate != null and entity.coordinate != ''">and t.coordinate = #{entity.coordinate}
            </if>
            <if test="entity.anyNodeSkip != null and entity.anyNodeSkip != ''">and t.any_node_skip =
                #{entity.anyNodeSkip}
            </if>
            <if test="entity.listenerType != null and entity.listenerType != ''">and t.listener_type =
                #{entity.listenerType}
            </if>
            <if test="entity.listenerPath != null and entity.listenerPath != ''">and t.listener_path =
                #{entity.listenerPath}
            </if>
            <if test="entity.formId != null and entity.formId != ''">and t.form_id = #{entity.formId}</if>
            <if test="entity.version != null and entity.version != ''">and t.version = #{entity.version}</if>
            <if test="entity.createdAt != null">and t.created_at = #{entity.createdAt}</if>
            <if test="entity.updatedAt != null">and t.updated_at = #{entity.updatedAt}</if>
            <if test="entity.ext != null">and t.ext = #{entity.ext}</if>
            <if test="entity.deleted != null  and entity.deleted != ''">and t.deleted = #{entity.deleted}</if>
            <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
            <if test="entity.updatedBy != null and entity.updatedBy != ''">and t.updated_by = #{entity.updatedBy}</if>
            <if test="entity.createdBy != null and entity.createdBy != ''"> and t.created_by = #{entity.createdBy}</if>
        </where>
    </sql>

    <sql id="mysql_insert_batch">
        insert into flow_node(
        id,
        node_type,
        definition_id,
        node_code,
        node_name,
        permission_flag,
        node_ratio,
        coordinate,
        any_node_skip,
        listener_type,
        listener_path,
        form_id,
        version,
        created_at,
        updated_at,
        ext,
        deleted,
        tenant_id,
        created_by,
        updated_by
        )
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.nodeType},
            #{item.definitionId},
            #{item.nodeCode},
            #{item.nodeName},
            #{item.permissionFlag},
            #{item.nodeRatio},
            #{item.coordinate},
            #{item.anyNodeSkip},
            #{item.listenerType},
            #{item.listenerPath},
            #{item.formId},
            #{item.version},
            #{item.createdAt},
            #{item.updatedAt},
            #{item.ext},
            #{item.deleted},
            #{item.tenantId},
            #{item.createdBy},
            #{item.updatedBy}
            )
        </foreach>
    </sql>

    <sql id="oracle_insert_batch">
        insert
        into
        flow_node(
        id,
        node_type,
        definition_id,
        node_code,
        node_name,
        permission_flag,
        node_ratio,
        coordinate,
        any_node_skip,
        listener_type,
        listener_path,
        form_id,
        version,
        created_at,
        updated_at,
        ext,
        deleted,
        tenant_id,
        created_by,
        updated_by
        )
        <foreach collection="list" item="item" separator=" union all">
            select
            #{item.id},
            #{item.nodeType},
            #{item.definitionId},
            #{item.nodeCode},
            #{item.nodeName},
            #{item.permissionFlag},
            #{item.nodeRatio},
            #{item.coordinate},
            #{item.anyNodeSkip},
            #{item.listenerType},
            #{item.listenerPath},
            #{item.formId},
            #{item.version},
            #{item.createdAt},
            #{item.updatedAt},
            #{item.ext},
            #{item.deleted},
            #{item.tenantId},
            #{item.createdBy},
            #{item.updatedBy}
            from dual
        </foreach>
    </sql>

    <select id="selectCount" parameterType="com.luokuiai.flovira.orm.entity.FlowNode" resultType="java.lang.Long">
        select count(*) from flow_node t
        <include refid="select_parameter"/>
    </select>

    <select id="selectList" parameterType="com.luokuiai.flovira.orm.entity.FlowNode" resultMap="FlowNodeResult">
        <choose>
            <when test="dataSourceType == 'oracle'.toString()">
                <if test="page !=null and page.pageNum != null and page.pageSize != null">
                    SELECT * FROM ( SELECT TMP.*, ROWNUM ROW_ID FROM (
                </if>
                <include refid="includeAll"/>
                <if test="page !=null and page.pageNum != null and page.pageSize != null">
                    ) TMP WHERE ROWNUM &lt;= #{page.pageSize}) WHERE ROW_ID &gt; #{page.pageNum}
                </if>
            </when>
            <otherwise>
                <include refid="includeAll"/>
                <include refid="paging_end"/>
            </otherwise>
        </choose>
    </select>

    <sql id="includeAll">
        <include refid="selectVo"/>
        <include refid="select_parameter"/>
        <include refid="order_by"/>
    </sql>

    <select id="selectByIds" resultMap="FlowNodeResult">
        <include refid="selectVo"/>
        where t.id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="entity.deleted != null  and entity.deleted != ''">and t.deleted = #{entity.deleted}</if>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
    </select>

    <select id="selectById" resultMap="FlowNodeResult">
        <include refid="selectVo"/>
        where t.id = #{id}
        <if test="entity.deleted != null  and entity.deleted != ''">and t.deleted = #{entity.deleted}</if>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
    </select>

    <select id="getByNodeCodes" resultMap="FlowNodeResult">
        <include refid="selectVo"/>
        where t.definition_id = #{definitionId}
        <if test="nodeCodes != null and nodeCodes.size() > 0">
            and t.node_code in
            <foreach item="item" collection="nodeCodes" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="entity.deleted != null  and entity.deleted != ''">and t.deleted = #{entity.deleted}</if>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
    </select>

    <insert id="insert" parameterType="com.luokuiai.flovira.orm.entity.FlowNode">
        insert into flow_node
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="nodeType != null">node_type,</if>
            <if test="definitionId != null">definition_id,</if>
            <if test="nodeCode != null and nodeCode != ''">node_code,</if>
            <if test="nodeName != null and nodeName != ''">node_name,
                <if test="permissionFlag != null and permissionFlag != ''">permission_flag,</if>
            </if>
            <if test="nodeRatio != null">node_ratio,</if>
            <if test="coordinate != null and coordinate != ''">coordinate,</if>
            <if test="anyNodeSkip != null and anyNodeSkip != ''">any_node_skip,</if>
            <if test="listenerType != null and listenerType != ''">listener_type,</if>
            <if test="listenerPath != null and listenerPath != ''">listener_path,</if>
            <if test="formId != null and formId != ''">form_id,</if>
            <if test="version != null and version != ''">version,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
            <if test="ext != null">ext,</if>
            <if test="deleted != null and deleted != ''">deleted,</if>
            <if test="tenantId != null and tenantId != ''">tenant_id,</if>
            <if test="createdBy != null and createdBy != ''">created_by,</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="nodeType != null">#{nodeType},</if>
            <if test="definitionId != null">#{definitionId},</if>
            <if test="nodeCode != null and nodeCode != ''">#{nodeCode},</if>
            <if test="nodeName != null and nodeName != ''">#{nodeName},
                <if test="permissionFlag != null and permissionFlag != ''">#{permissionFlag},</if>
            </if>
            <if test="nodeRatio != null">#{nodeRatio},</if>
            <if test="coordinate != null and coordinate != ''">#{coordinate},</if>
            <if test="anyNodeSkip != null and anyNodeSkip != ''">#{anyNodeSkip},</if>
            <if test="listenerType != null and listenerType != ''">#{listenerType},</if>
            <if test="listenerPath != null and listenerPath != ''">#{listenerPath},</if>
            <if test="formId != null and formId != ''">#{formId},</if>
            <if test="version != null and version != ''">#{version},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
            <if test="ext != null">#{ext},</if>
            <if test="deleted != null and deleted != ''">#{deleted},</if>
            <if test="tenantId != null and tenantId != ''">#{tenantId},</if>
            <if test="createdBy != null and createdBy != ''">#{createdBy},</if>
            <if test="updatedBy != null and updatedBy != ''">#{updatedBy},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.luokuiai.flovira.orm.entity.FlowNode">
        update flow_node
        <trim prefix="SET" suffixOverrides=",">
            <if test="nodeType != null">node_type = #{nodeType},</if>
            <if test="definitionId != null">definition_id = #{definitionId},</if>
            <if test="nodeCode != null and nodeCode != ''">node_code = #{nodeCode},</if>
            <if test="nodeName != null and nodeName != ''">node_name = #{nodeName},</if>
            <if test="permissionFlag != null and permissionFlag != ''">permission_flag = #{permissionFlag},</if>
            <if test="nodeRatio != null">node_ratio = #{nodeRatio},</if>
            <if test="coordinate != null and coordinate != ''">coordinate = #{coordinate},</if>
            <if test="anyNodeSkip != null and anyNodeSkip != ''">any_node_skip = #{anyNodeSkip},</if>
            <if test="listenerType != null and listenerType != ''">listener_type = #{listenerType},</if>
            <if test="listenerPath != null and listenerPath != ''">listener_path = #{listenerPath},</if>
            <if test="formId != null and formId != ''">form_id = #{formId},</if>
            <if test="version != null and version != ''">version = #{version},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
            <if test="ext != null">ext = #{ext},</if>
            <if test="createdBy != null and createdBy != ''">created_by = #{createdBy},</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by = #{updatedBy},</if>
        </trim>
        where id = #{id}
        <if test="deleted != null  and deleted != ''">and deleted = #{deleted}</if>
        <if test="tenantId != null  and tenantId != ''">and tenant_id = #{tenantId}</if>
    </update>

    <delete id="deleteById">
        delete
        from flow_node
        where id = #{id}
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
    </delete>

    <update id="updateByIdLogic">
        update flow_node
        set deleted = #{logicDeleteValue}
        where id = #{id}
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
        <if test="logicNotDeleteValue != null and logicNotDeleteValue != ''">and deleted = #{logicNotDeleteValue}
        </if>
    </update>

    <delete id="deleteByIds">
        delete from flow_node where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
    </delete>

    <update id="updateByIdsLogic">
        update flow_node
        set deleted = #{logicDeleteValue}
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
        <if test="logicNotDeleteValue != null and logicNotDeleteValue != ''">and deleted = #{logicNotDeleteValue}
        </if>
    </update>

    <delete id="delete" parameterType="com.luokuiai.flovira.orm.entity.FlowNode">
        delete from flow_node
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="nodeType != null">and node_type = #{nodeType}</if>
            <if test="definitionId != null">and definition_id = #{definitionId}</if>
            <if test="nodeCode != null and nodeCode != ''">and node_code = #{nodeCode}</if>
            <if test="nodeName != null and nodeName != ''">and node_name = #{nodeName}</if>
            <if test="permissionFlag != null and permissionFlag != ''">and permission_flag = #{permissionFlag}</if>
            <if test="nodeRatio != null">and node_ratio = #{nodeRatio}</if>
            <if test="coordinate != null and coordinate != ''">and coordinate = #{coordinate}</if>
            <if test="anyNodeSkip != null and anyNodeSkip != ''">and any_node_skip = #{anyNodeSkip}</if>
            <if test="listenerType != null and listenerType != ''">and listener_type = #{listenerType}</if>
            <if test="listenerPath != null and listenerPath != ''">and listener_path = #{listenerPath}</if>
            <if test="formId != null and formId != ''">and form_id = #{formId},</if>
            <if test="version != null and version != ''">and version = #{version}</if>
            <if test="createdAt != null">and created_at = #{createdAt}</if>
            <if test="updatedAt != null">and updated_at = #{updatedAt}</if>
            <if test="ext != null">and ext = #{ext}</if>
            <if test="tenantId != null and tenantId != ''">and tenant_id = #{tenantId}</if>
        </where>
    </delete>

    <update id="updateLogic">
        update flow_node
        set deleted = #{logicDeleteValue}
        <where>
            <if test="entity.id != null">and id = #{entity.id}</if>
            <if test="entity.nodeType != null">and node_type = #{entity.nodeType}</if>
            <if test="entity.definitionId != null">and definition_id = #{entity.definitionId}</if>
            <if test="entity.nodeCode != null and entity.nodeCode != ''">and node_code = #{entity.nodeCode}</if>
            <if test="entity.nodeName != null and entity.nodeName != ''">and node_name = #{entity.nodeName}</if>
            <if test="entity.permissionFlag != null and entity.permissionFlag != ''">and permission_flag =
                #{entity.permissionFlag}
            </if>
            <if test="entity.nodeRatio != null">and node_ratio = #{entity.nodeRatio}</if>
            <if test="entity.coordinate != null and entity.coordinate != ''">and coordinate = #{entity.coordinate}
            </if>
            <if test="entity.anyNodeSkip != null and entity.anyNodeSkip != ''">and any_node_skip =
                #{entity.anyNodeSkip}
            </if>
            <if test="entity.listenerType != null and entity.listenerType != ''">and listener_type =
                #{entity.listenerType}
            </if>
            <if test="entity.listenerPath != null and entity.listenerPath != ''">and listener_path =
                #{entity.listenerPath}
            </if>
            <if test="entity.formId != null and entity.formId != ''">and form_id = #{entity.formId}</if>
            <if test="entity.version != null and entity.version != ''">and version = #{entity.version}</if>
            <if test="entity.createdAt != null">and created_at = #{entity.createdAt}</if>
            <if test="entity.updatedAt != null">and updated_at = #{entity.updatedAt}</if>
            <if test="entity.ext != null">and ext = #{entity.ext}</if>
            <if test="entity.tenantId != null and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
            <if test="logicNotDeleteValue != null and logicNotDeleteValue != ''">and deleted =
                #{logicNotDeleteValue}
            </if>
        </where>
    </update>

    <delete id="deleteNodeByDefIds">
        delete from flow_node where definition_id in
        <foreach item="definitionId" collection="defIds" open="(" separator="," close=")">
            #{definitionId}
        </foreach>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
    </delete>

    <update id="updateNodeByDefIdsLogic">
        update flow_node
        set deleted = #{logicDeleteValue}
        where definition_id in
        <foreach item="definitionId" collection="defIds" open="(" separator="," close=")">
            #{definitionId}
        </foreach>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
        <if test="logicNotDeleteValue != null and logicNotDeleteValue != ''">and deleted = #{logicNotDeleteValue}
        </if>
    </update>

    <insert id="saveBatch" parameterType="com.luokuiai.flovira.orm.entity.FlowNode">
        <choose>
            <when test="dataSourceType == 'oracle'.toString()">
                <include refid="oracle_insert_batch"/>
            </when>
            <otherwise>
                <include refid="mysql_insert_batch"/>
            </otherwise>
        </choose>
    </insert>
</mapper>
