<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luokuiai.flovira.orm.mapper.FlowUserMapper">

    <resultMap type="com.luokuiai.flovira.orm.entity.FlowUser" id="FlowUserResult">
        <result property="id" column="id"/>
        <result property="type" column="type"/>
        <result property="processedBy" column="processed_by"/>
        <result property="associatedId" column="associated_id"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="createdBy" column="created_by"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="deleted" column="deleted"/>
        <result property="updatedBy" column="updated_by"/>
    </resultMap>

    <sql id="selectVo">
        select t.id,
               t.type,
               t.processed_by,
               t.associated_id,
               t.created_at,
               t.updated_at,
               t.created_by,
               t.tenant_id,
               t.deleted,
               t.updated_by
        from flow_user t
    </sql>

    <sql id="paging_end">
        <if test="page !=null and page.pageNum != null and page.pageSize != null">
            LIMIT #{page.pageSize} offset #{page.pageNum}
        </if>
    </sql>

    <sql id="order_by">
        <if test="order != null and order != ''">order by ${order}</if>
    </sql>

    <sql id="select_parameter">
        <where>
            <if test="entity.id != null">and t.id = #{entity.id}</if>
            <if test="entity.type != null  and entity.type != ''">and t.type = #{entity.type}</if>
            <if test="entity.processedBy != null  and entity.processedBy != ''">and t.processed_by =
                #{entity.processedBy}
            </if>
            <if test="entity.associatedId != null">and t.associated_id = #{entity.associatedId}</if>
            <if test="entity.createdAt != null">and t.created_at = #{entity.createdAt}</if>
            <if test="entity.updatedAt != null">and t.updated_at = #{entity.updatedAt}</if>
            <if test="entity.createdBy != null  and entity.createdBy != ''">and t.created_by = #{entity.createdBy}</if>
            <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
            <if test="entity.deleted != null  and entity.deleted != ''">and t.deleted = #{entity.deleted}</if>
            <if test="entity.updatedBy != null  and entity.updatedBy != ''">and t.updated_by = #{entity.updatedBy}</if>
        </where>
    </sql>

    <select id="selectList" parameterType="com.luokuiai.flovira.orm.entity.FlowUser" resultMap="FlowUserResult">
        <choose>
            <when test="dataSourceType == 'oracle'.toString()">
                <if test="page !=null and page.pageNum != null and page.pageSize != null">
                    SELECT * FROM ( SELECT TMP.*, ROWNUM ROW_ID FROM (
                </if>
                <include refid="includeAll"/>
                <if test="page !=null and page.pageNum != null and page.pageSize != null">
                    ) TMP WHERE ROWNUM &lt;= #{page.pageSize}) WHERE ROW_ID &gt; #{page.pageNum}
                </if>
            </when>
            <otherwise>
                <include refid="includeAll"/>
                <include refid="paging_end"/>
            </otherwise>
        </choose>
    </select>

    <sql id="includeAll">
        <include refid="selectVo"/>
        <include refid="select_parameter"/>
        <include refid="order_by"/>
    </sql>

    <sql id="mysql_insert_batch">
        insert into flow_user(
        id,
        type,
        processed_by,
        associated_id,
        created_at,
        updated_at,
        created_by,
        deleted,
        tenant_id,
        updated_by
        )
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.type},
            #{item.processedBy},
            #{item.associatedId},
            #{item.createdAt},
            #{item.updatedAt},
            #{item.createdBy},
            #{item.deleted},
            #{item.tenantId},
            #{item.updatedBy}
            )
        </foreach>
    </sql>

    <sql id="oracle_insert_batch">
        insert into flow_user(
        id,
        type,
        processed_by,
        associated_id,
        created_at,
        updated_at,
        created_by,
        deleted,
        tenant_id,
        updated_by
        )
        <foreach collection="list" item="item" separator=" union all">
            select
            #{item.id},
            #{item.type},
            #{item.processedBy},
            #{item.associatedId},
            #{item.createdAt},
            #{item.updatedAt},
            #{item.createdBy},
            #{item.deleted},
            #{item.tenantId},
            #{item.updatedBy}
            from dual
        </foreach>
    </sql>

    <select id="selectByIds" resultMap="FlowUserResult">
        <include refid="selectVo"/>
        where t.id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="entity.deleted != null  and entity.deleted != ''">and t.deleted = #{entity.deleted}</if>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
    </select>

    <select id="selectById" resultMap="FlowUserResult">
        <include refid="selectVo"/>
        where t.id = #{id}
        <if test="entity.deleted != null  and entity.deleted != ''">and t.deleted = #{entity.deleted}</if>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
    </select>

    <select id="selectCount" parameterType="com.luokuiai.flovira.orm.entity.FlowUser" resultType="java.lang.Long">
        select count(*) from flow_user t
        <include refid="select_parameter"/>
    </select>

    <select id="listByAssociatedIdsAndTypes" resultMap="FlowUserResult">
        <include refid="selectVo"/>
        <where>
            <if test="associatedIds == null and entity.associatedId != null">
                and t.associated_id = #{entity.associatedId}
            </if>
            <if test="associatedIds != null and associatedIds.size > 0">
                AND associated_id in
                <foreach item="item" collection="associatedIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="types != null and types.length > 0">
                <choose>
                    <when test="dataSourceType == 'postgresql'.toString() ">
                        and t."type" in
                    </when>
                    <otherwise>
                        AND t.`type` in
                    </otherwise>
                </choose>
                <foreach item="item" collection="types" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

            <if test="entity.deleted != null  and entity.deleted != ''">and t.deleted = #{entity.deleted}</if>
            <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
        </where>
    </select>

    <select id="listByProcessedBys" resultMap="FlowUserResult">
        <include refid="selectVo"/>
        <where>
            <if test="entity.associatedId != null">
                and t.associated_id = #{entity.associatedId}
            </if>
            <if test="processedBys == null and entity.processedBy != null  and entity.processedBy != ''">
                and t.processed_by = #{processedBy}
            </if>
            <if test="processedBys != null and processedBys.size > 0">
                AND processed_by in
                <foreach item="item" collection="processedBys" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="types != null and types.length > 0">
                <choose>
                    <when test="dataSourceType == 'postgresql'.toString() || dataSourceType == 'oracle'.toString()">
                        and t."type" in
                    </when>
                    <otherwise>
                        and t.`type` in
                    </otherwise>
                </choose>
                <foreach item="item" collection="types" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

            <if test="entity.deleted != null  and entity.deleted != ''">and t.deleted = #{entity.deleted}</if>
            <if test="entity.tenantId != null  and entity.tenantId != ''">and t.tenant_id = #{entity.tenantId}</if>
        </where>
    </select>

    <insert id="insert" parameterType="com.luokuiai.flovira.orm.entity.FlowUser">
        insert into flow_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="processedBy != null and processedBy != ''">processed_by,</if>
            <if test="associatedId != null">associated_id,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
            <if test="createdBy != null and createdBy != ''">created_by,</if>
            <if test="deleted != null and deleted != ''">deleted,</if>
            <if test="tenantId != null and tenantId != ''">tenant_id,</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="processedBy != null and processedBy != ''">#{processedBy},</if>
            <if test="associatedId != null">#{associatedId},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
            <if test="createdBy != null and createdBy != ''">#{createdBy},</if>
            <if test="deleted != null and deleted != ''">#{deleted},</if>
            <if test="tenantId != null and tenantId != ''">#{tenantId},</if>
            <if test="updatedBy != null and updatedBy != ''">#{updatedBy}</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.luokuiai.flovira.orm.entity.FlowUser">
        update flow_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="processedBy != null and processedBy != ''">processed_by = #{processedBy},</if>
            <if test="associatedId != null">associated_id = #{associatedId},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
            <if test="createdBy != null and createdBy != ''">created_by = #{createdBy},</if>
            <if test="updatedBy != null and updatedBy != ''">updated_by = #{updatedBy},</if>
        </trim>
        where id = #{id}
        <if test="deleted != null  and deleted != ''">and deleted = #{deleted}</if>
        <if test="tenantId != null  and tenantId != ''">and tenant_id = #{tenantId}</if>
    </update>

    <delete id="deleteById">
        delete
        from flow_user
        where id = #{id}
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
    </delete>

    <update id="updateByIdLogic">
        update flow_user
        set deleted = #{logicDeleteValue}
        where id = #{id}
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
        <if test="logicNotDeleteValue != null and logicNotDeleteValue != ''">and deleted = #{logicNotDeleteValue}
        </if>
    </update>

    <delete id="deleteByIds">
        delete from flow_user where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
    </delete>

    <update id="updateByIdsLogic">
        update flow_user
        set deleted = #{logicDeleteValue}
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
        <if test="logicNotDeleteValue != null and logicNotDeleteValue != ''">and deleted = #{logicNotDeleteValue}
        </if>
    </update>

    <delete id="delete" parameterType="com.luokuiai.flovira.orm.entity.FlowUser">
        delete from flow_user
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="type != null  and type != ''">and type = #{type}</if>
            <if test="processedBy != null  and processedBy != ''">and processed_by = #{processedBy}</if>
            <if test="associatedId != null">and associated_id = #{associatedId}</if>
            <if test="createdAt != null">and created_at = #{createdAt}</if>
            <if test="updatedAt != null">and updated_at = #{updatedAt}</if>
            <if test="createdBy != null  and createdBy != ''">and created_by = #{createdBy}</if>
            <if test="tenantId != null  and tenantId != ''">and tenant_id = #{tenantId}</if>
        </where>
    </delete>

    <update id="updateLogic">
        update flow_user
        set deleted = #{logicDeleteValue}
        <where>
            <if test="entity.id != null">and id = #{entity.id}</if>
            <if test="entity.type != null  and entity.type != ''">and type = #{type}</if>
            <if test="entity.processedBy != null  and entity.processedBy != ''">and processed_by = #{entity.processedBy}</if>
            <if test="entity.associatedId != null">and associated_id = #{entity.associatedId}</if>
            <if test="entity.createdAt != null">and created_at = #{entity.createdAt}</if>
            <if test="entity.updatedAt != null">and updated_at = #{entity.updatedAt}</if>
            <if test="entity.createdBy != null  and entity.createdBy != ''">and created_by = #{entity.createdBy}</if>
            <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
            <if test="entity.deleted != null  and entity.deleted != ''">and deleted = #{entity.deleted}</if>
        </where>
    </update>

    <delete id="deleteByTaskIds">
        delete from flow_user where associated_id in
        <foreach item="taskId" collection="taskIds" open="(" separator="," close=")">
            #{taskId}
        </foreach>
    </delete>

    <update id="updateByTaskIdsLogic">
        update flow_user
            set deleted = #{logicDeleteValue}
        where associated_id in
        <foreach item="taskId" collection="taskIds" open="(" separator="," close=")">
            #{taskId}
        </foreach>
        <if test="entity.tenantId != null  and entity.tenantId != ''">and tenant_id = #{entity.tenantId}</if>
        <if test="logicNotDeleteValue != null and logicNotDeleteValue != ''">and deleted = #{logicNotDeleteValue}
        </if>
    </update>

    <insert id="saveBatch" parameterType="com.luokuiai.flovira.orm.entity.FlowUser">
        <choose>
            <when test="dataSourceType == 'oracle'.toString()">
                <include refid="oracle_insert_batch"/>
            </when>
            <otherwise>
                <include refid="mysql_insert_batch"/>
            </otherwise>
        </choose>
    </insert>
</mapper>
